extends layout

block content
	div.container
		div.ticTacToe
			div.row1
				div#a1.position
				div#a2.position
				div#a3.position  
			div.row2
				div#b1.position 
				div#b2.position 
				div#b3.position 
			div.row3
				div#c1.position 
				div#c2.position  
				div#c3.position
