extends layout

block content
	div.container
		div.ticTacToe
			div.row1
				div.a1
				div.a2 
				div.a3  
			div.row2
				div.b1 
				div.b2  
				div.b3 
			div.row3
				div.c1 
				div.c2  
				div.c3 
